# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.egg

# C++
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Compiled files
*.class
*.jar

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.bak
*.tmp
*.tmp.*
*.log
*.cache
*.sublime-workspace

# Model
*.pt
*.onnx
*.bin
*.xml

# Dependency directories
node_modules/
bower_components/

# Images directories
classification_output/
detection_output/
url_imgs/
debug/
wadas_motion_detection/
demo_output/

# Images
#*.png
#*.jpg
#*.jpeg
*.gif
#*.ico
*.svg


cache

